<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlj.wx.dao.WxUserDao">

	<!-- 新增 -->
	<insert id="add" parameterType="cn.dlj.wx.entity.WxUser">
		insert into t_wx_user(openId,unitId,userId,type,userName,userPwd)
		values(#{openId},#{unitId},#{userId},#{type},#{userName},#{userPwd})
	</insert>
	
	<update id="update" parameterType="cn.dlj.wx.entity.WxUser" >
		update t_wx_user
			set
			openId=#{openId},
			unitId=#{unitId},
			userId=#{userId},
			type=#{type},
			userName=#{userName},
			userPwd=#{userPwd}
		where id=#{id}
	</update>
	
	<!-- 根据appId获取id -->
	<select id="getByOpenId" resultType="cn.dlj.wx.entity.WxUser">
		select
				*
		from t_wx_user
		<where>
			openId=#{openId}
		</where>
	</select>
	
	<!-- 根据appId获取id -->
	<select id="getByNameAndPwd" resultType="cn.dlj.wx.entity.WxUser">
		select
				*
		from t_wx_user
		<where>
			userName=#{userName} and userPwd=#{userPwd}
		</where>
	</select>
	
	<!-- 根据appId获取id -->
	<select id="getAll" resultType="cn.dlj.wx.entity.WxUser">
		select
				*
		from t_wx_user
		<where>
			type=0
		</where>
	</select>
	
	
</mapper>
