<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 空值 -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<!-- 配置插件 -->
	<plugins>
		<plugin interceptor="cn.dlj.utils.PagingInterceptor"></plugin>
	</plugins>
</configuration>