<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlj.app.dao.UnitDao">

	<insert id="add" parameterType="cn.dlj.app.entity.Unit" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
		insert into t_unit(name,departmentId,townId,code,license,address,type,safedLinkman,safedTelphone,manageLinkman,manageTelphone,belongUserId,addTime,modTime,userId,delflag,meno,bimg,area,buildingsLayer,isxc,starLevel,nameId,keyUnit,app_id,iscg)
		values(#{name},#{departmentId},#{townId},#{code},#{license},#{address},#{type},#{safedLinkman},#{safedTelphone},#{manageLinkman},#{manageTelphone},#{belongUserId},#{addTime},#{modTime},#{userId},#{delflag},#{meno},#{bimg},#{area},#{buildingsLayer},#{isxc},#{starLevel},0,#{keyUnit},#{appUnitId},#{iscg})
	</insert>
	
	<update id="update" parameterType="cn.dlj.app.entity.Unit" >
		update t_unit
			set
			departmentId= #{departmentId},
			townId= #{townId},
			code= #{code},
			license = #{license},
			address= #{address},
			type= #{type},
			safedLinkman= #{safedLinkman},
			safedTelphone= #{safedTelphone}, 
			manageLinkman= #{manageLinkman}, 
			manageTelphone= #{manageTelphone},
			belongUserId= #{belongUserId}, 
			addTime= #{addTime}, 
			modTime= #{modTime},
			userId= #{userId}, 
			delflag= #{delflag},
			isxc= #{isxc},
			meno= #{meno},
			bimg= #{bimg},
			id=#{id},
			name= #{name},
			area= #{area},
			buildingsLayer= #{buildingsLayer},
			starLevel= #{starLevel},
			keyUnit= #{keyUnit},
			iscg= #{iscg},
			app_id= #{appUnitId}
		where id=#{id}
	</update>
	
	<update id="updateStatus" >
		update t_unit
			set
			lastXunchaTime = sysdate()
			<if test="null!=isgm"> ,isgm= #{isgm} </if>
			<if test="null!=isxc"> ,isxc= #{isxc} </if>
			<if test="null!=starLevel"> ,starLevel= #{starLevel} </if>
			<if test="null!=iscg"> ,iscg= #{iscg} </if>
		where id=#{id}
	</update>
	
	<select id="get" resultType="cn.dlj.app.entity.Unit">
		select
				id 						as "id",
				name 					as "name",
				departmentId 			as "departmentId",
				townId 					as "townId",
				code 					as "code",
				license					as "license",
				address					as "address",
				type					as "type",
				safedLinkman			as "safedLinkman",
				safedTelphone			as "safedTelphone",
				manageLinkman			as "manageLinkman",
				manageTelphone			as "manageTelphone",
				nameId					as "stationId",
				belongUserId			as "belongUserId",
				addTime					as "addTime",
				modTime					as "modTime",
				userId					as "userId",
				delflag					as "delflag",
				meno					as "meno",
				app_id					as "appUnitId"
		from t_unit
		<where>
			name=#{name}
		</where>
	</select>
	
	<select id="getById" resultType="cn.dlj.app.entity.Unit">
		select
				unit.id 						as "id",
				unit.name 						as "name",
				unit.departmentId 				as "departmentId",
				unit.townId 					as "townId",
				unit.code 						as "code",
				unit.license					as "license",
				unit.address					as "address",
				unit.type						as "type",
				unit.safedLinkman				as "safedLinkman",
				unit.safedTelphone				as "safedTelphone",
				unit.manageLinkman				as "manageLinkman",
				unit.manageTelphone				as "manageTelphone",
				unit.nameId						as "stationId",
				unit.belongUserId				as "belongUserId",
				unit.isxc						as "isxc",
				unit.addTime					as "addTime",
				unit.modTime					as "modTime",
				unit.userId						as "userId",
				unit.delflag					as "delflag",
				unit.meno						as "meno",
				unit.bimg						as "bimg",
				unit.area						as "area",
				unit.iscg						as "iscg",
				unit.isgm						as "isgm",
				unit.yzm						as "yzm",
				u.name							as "userName",
				t.name							as "townName",
				dep.name						as "departmentName",
				unit.buildingsLayer				as "buildingsLayer"
		from t_unit unit
		left join t_user u on u.id=unit.userId
		left join t_town t on t.id=unit.townId
		left join t_department dep  on dep.id=unit.departmentId
		<where>
			unit.id=#{id}
		</where>
	</select>
	
	<!-- 获取监管单位(巡查单位)最大ID值 -->
	<select id="getMaxId" resultType="java.lang.Integer">
		select
				max(id) as id
		from t_unit unit
	</select>
	
	<!-- 删除监管单位归属建筑物信息 -->
	<delete id="delUnitBuilding">
		delete from t_unit_building where uid = #{uid}
	</delete>
	
	<insert id="addUnitBuilding" parameterType="cn.dlj.app.entity.Unit">
		insert into t_unit_building(uid,bid) 
		<foreach collection="unit.buildingSet" item="bid" separator="union">
			select #{unit.id},#{bid} from dual 
		</foreach>
	</insert>
	
	<select id="findById" resultType="cn.dlj.app.entity.Unit">
		select
				unit.id 						as "id",
				unit.name 						as "name",
				unit.departmentId 				as "departmentId",
				unit.townId 					as "townId",
				unit.code 						as "code",
				unit.license					as "license",
				unit.address					as "address",
				unit.type						as "type",
				unit.safedLinkman				as "safedLinkman",
				unit.safedTelphone				as "safedTelphone",
				unit.manageLinkman				as "manageLinkman",
				unit.manageTelphone				as "manageTelphone",
				unit.belongUserId				as "belongUserId",
				unit.isxc						as "isxc",
				unit.addTime					as "addTime",
				unit.modTime					as "modTime",
				unit.userId						as "userId",
				unit.delflag					as "delflag",
				unit.meno						as "meno",
				u.name							as "userName",
				t.name							as "townName",
				dep.name						as "departmentName",
				unit.bimg						as "bimg",
				unit.area						as "area",
				unit.buildingsLayer				as "buildingsLayer",
				unit.keyUnit					as "keyUnit"
		from t_unit unit
		left join t_user u on u.id=unit.userId
		left join t_town t on t.id=unit.townId
		left join t_department dep  on dep.id=unit.departmentId
		<where>
			unit.id=#{id}
		</where>
	</select>
	
	<select id="getPaging" resultType="cn.dlj.app.entity.Unit">
		select
				unit.id 						as "id",
				unit.name 						as "name",
				unit.departmentId 				as "departmentId",
				unit.townId 					as "townId",
				unit.code 						as "code",
				unit.license					as "license",
				unit.address					as "address",
				unit.type						as "type",
				unit.safedLinkman				as "safedLinkman",
				unit.safedTelphone				as "safedTelphone",
				unit.manageLinkman				as "manageLinkman",
				unit.manageTelphone				as "manageTelphone",
				unit.belongUserId				as "belongUserId",
				unit.isxc						as "isxc",
				unit.addTime					as "addTime",
				unit.modTime					as "modTime",
				unit.userId						as "userId",
				unit.delflag					as "delflag",
				unit.meno						as "meno",
				u.name							as "userName",
				t.name							as "townName",
				dep.name						as "departmentName",
				unit.bimg						as "bimg",
				unit.area						as "area",
				unit.buildingsLayer				as "buildingsLayer",
				unit.iscg						as "iscg",
				unit.isgm						as "isgm",
				unit.lastXunchaTime				as "lastXunchaTime",
				unit.keyUnit					as "keyUnit"
		from t_unit unit
		left join t_user u on u.id=unit.userId
		left join t_town t on t.id=unit.townId
		left join t_department dep  on dep.id=unit.departmentId
		<where>
			1=1 
			<if test="null!=params.showCg"> and unit.iscg != '1' </if>
			<if test="null!=params.townId"> and unit.townId=#{params.townId} </if>
			<if test="null!=params.userId"> and unit.userId=#{params.userId}</if>
			<if test="null!=params.unitName"> and (unit.name like #{params.unitName} or unit.address like #{params.address})</if>
		</where>
		order by unit.addTime desc
		limit #{first},#{pageSize}
	</select>
	
	<select id="getBuilds" resultType="java.util.Map">
		select
				b.name		as  "name",
				b.id		as	"id"
		from t_unit_building ub
		left join t_building b on ub.bid=b.id
		<where>
			ub.uid=#{uid}
		</where>
	</select>
	
	<select id="getByPhone" resultType="cn.dlj.app.entity.Unit">
		select
				unit.id 						as "id",
				unit.name 						as "name",
				unit.departmentId 				as "departmentId",
				unit.townId 					as "townId",
				unit.code 						as "code",
				unit.license					as "license",
				unit.address					as "address",
				unit.type						as "type",
				unit.safedLinkman				as "safedLinkman",
				unit.safedTelphone				as "safedTelphone",
				unit.manageLinkman				as "manageLinkman",
				unit.manageTelphone				as "manageTelphone",
				unit.nameId						as "stationId",
				unit.belongUserId				as "belongUserId",
				unit.isxc						as "isxc",
				unit.addTime					as "addTime",
				unit.modTime					as "modTime",
				unit.userId						as "userId",
				unit.delflag					as "delflag",
				unit.meno						as "meno",
				unit.bimg						as "bimg",
				unit.area						as "area",
				unit.iscg						as "iscg",
				unit.isgm						as "isgm",
				unit.yzm						as "yzm",
				u.name							as "userName",
				t.name							as "townName",
				dep.name						as "departmentName",
				unit.buildingsLayer				as "buildingsLayer"
		from t_unit unit
		left join t_user u on u.id=unit.userId
		left join t_town t on t.id=unit.townId
		left join t_department dep  on dep.id=unit.departmentId
		<where>
			unit.safedTelphone=#{phone}
		</where>
	</select>
	
	<select id="findByIds" resultType="cn.dlj.app.entity.Unit">
		select
				unit.id 						as "id",
				unit.name 						as "name"
		from t_unit unit
		<where>
			unit.id in (${ids})
		</where>
	</select>
	
</mapper>
