<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlj.app.dao.UserDao">

	<select id="get" resultType="cn.dlj.app.entity.User">
		select
				u.id 		    as "id",
				u.name 		    as "name",
				u.username 	    as "username",
				u.password 	    as "pwd",
				u.departmentId	as "depId",
				u.townId	    as "townId",
				dept.name		as "depName",
				town.name       as "townName",
				u.roleId        as "roleId"
		from t_user u
		left join t_department dept on dept.id = u.departmentId
		left join t_town town on town.id = u.townId
		<where>
			u.username=#{username}
		</where>
	</select>
	
	<select id="getByNameAndPwd" resultType="cn.dlj.app.entity.User">
		select
				u.id 		    as "id",
				u.name 		    as "name",
				u.username 	    as "username",
				u.password 	    as "pwd",
				u.departmentId	as "depId",
				u.townId	    as "townId",
				dept.name		as "depName",
				town.name       as "townName",
				u.roleId        as "roleId"
		from t_user u
		left join t_department dept on dept.id = u.departmentId
		left join t_town town on town.id = u.townId
		<where>
			u.username=#{username} and u.password=#{password}
		</where>
	</select>
	
	<!-- 获取消防站ID -->
	<select id="getStationId" resultType="java.lang.Integer">
		select
				id    		as	"id"
		from t_station
		<where>
			townId=#{townId} and departmentId=#{departmentId}
		</where>
	</select>
	
</mapper>
