<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlj.app.dao.WxDao">

	<!-- 新增 -->
	<insert id="add" parameterType="cn.dlj.app.entity.WxXunchaImg" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
		insert into t_wx_xunchaimg(id,xunchaId,picName,num,flag,remark)
		values(#{id},#{xunchaId},#{picName},#{num},#{flag},#{remark})
	</insert>
	
	<!-- 修改 -->
	<update id="update">
		update t_wx_xunchaimg
			set
			picName= #{picName}
		where id=#{id}
	</update>
	
	<!-- 根据appId获取id -->
	<select id="getList" resultType="cn.dlj.app.entity.WxXunchaImg">
		select
				*
		from t_wx_xunchaimg
		<where>
			xunchaId=#{xunchaId}
		</where>
	</select>
	
	<!-- 根据appId获取id -->
	<select id="getNum" resultType="cn.dlj.app.entity.WxXunchaImg">
		select
				*
		from t_wx_xunchaimg
		<where>
			xunchaId=#{xunchaId} and num=#{num}
		</where>
	</select>
	
	<!-- 修改 -->
	<update id="updateFalg">
		update t_wx_xunchaimg
			set
			flag= #{flag},remark=#{remark}
		where id=#{id}
	</update>
	
	<!-- 查询巡查员待审核记录 -->
	<select id="getWxWaitList" parameterType="cn.dlj.utils.PagingMySql" resultType="cn.dlj.app.entity.WxXuncha">
		select
				wx.*
		from t_wx_xuncha wx
		inner join t_xuncha xc on xc.id = wx.xunchaId
		<where>
			 wx.status=0 and wx.role=1 and xc.userId=#{params.userId}
			 <if test="null!=params.unitName"> and wx.unitName like #{params.unitName} </if>
		</where>
		order by wx.et desc
		limit #{first},#{pageSize}
	</select>
	
	<!-- 查询巡查员已审核记录 -->
	<select id="getWxAlreadyList" parameterType="cn.dlj.utils.PagingMySql" resultType="cn.dlj.app.entity.WxXuncha">
		select
				wx.*
		from t_wx_xuncha wx
		inner join t_xuncha xc on xc.id = wx.xunchaId
		<where>
			 wx.status in (1,2) and wx.role=1 and xc.userId=#{params.userId}
			 <if test="null!=params.unitName"> and wx.unitName like #{params.unitName} </if>
		</where>
		order by wx.et desc
		limit #{first},#{pageSize}
	</select>
	
	<!-- 查询管理员员待审核记录 -->
	<select id="getWxGlyWaitList" parameterType="cn.dlj.utils.PagingMySql" resultType="cn.dlj.app.entity.WxXuncha">
		select
				wx.*
		from t_wx_xuncha wx
		inner join t_xuncha xc on xc.id = wx.xunchaId
		<where>
			 wx.status=0 and wx.role=2 and xc.userId=#{params.userId}
			 <if test="null!=params.unitName"> and wx.unitName like #{params.unitName} </if>
		</where>
		order by wx.et desc
		limit #{first},#{pageSize}
	</select>
	
	<!-- 查询管理员员已审核记录 -->
	<select id="getWxGlyAlreadyList" parameterType="cn.dlj.utils.PagingMySql" resultType="cn.dlj.app.entity.WxXuncha">
		select
				*
		from t_wx_xuncha wx
		inner join t_xuncha xc on xc.id = wx.xunchaId
		<where>
			 wx.status in (1,2) and wx.role=2 and xc.userId=#{params.userId}
			 <if test="null!=params.unitName"> and wx.unitName like #{params.unitName} </if>
		</where>
		order by wx.et desc
		limit #{first},#{pageSize}
	</select>
	
</mapper>
